html {
	background: #e9e6e3 url(../img/background.png) 20px 20px no-repeat;
	background-attachment: fixed;
	color: #14110d;
	height: 100%;
}

body {
	padding: 2em 0 3em;
}

.row {
	margin: 0;
}

#header {
	min-height: 630px;
}
	#header h1 {
		position: fixed;
		top: 380px;
		left: 105px;
		width: 260px;
	}
		#header h1 a {
			display: block;
			height: 99px;
			background: transparent url(../img/shadowhand.png) 0 0 no-repeat;
			opacity: 0.8;
		}
		#header h1 a:hover {
			opacity: 1;
		}
		#header h1 span {
			display: none;
		}

#social {
	overflow: auto;
}
	#social ul {
		display: table;
		float: right;
		margin: 0;
	}
		#social li {
			display: table-cell;
			margin: 0;
			padding: 0 1em 0 0;
			line-height: 28px;
			vertical-align: middle;
		}
		#social li:last-child {
			padding-right: 0;
		}
		#social li * {
			vertical-align: inherit;
		}
			#social a {
				display: block;
				opacity: 0.6;
				text-decoration: none;
			}
			#social a:hover {
				opacity: 1;
			}
				#social a img {
					max-width: auto;
				}

#content {
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;
	background: #edebe9;
	box-shadow: 0 0 0.6em #cac8c5;
}
	#content h1,
	#content h2,
	#content h3,
	#content h4,
	#content h5,
	#content h6 {
		font-family: 'Cabin';
		font-weight: normal;
		text-transform: lowercase;
		font-variant: small-caps;
	}

#footer {
	color: #88837b;
	text-align: right;
	font-size: 0.8em;
}
	#footer a {
		color: #88837b;
	}
	#footer span {
		float: left;
	}

.project { padding: 1em; margin: 0 -1em; }
.project:nth-child(even) { background: rgba(255, 255, 255, 0.25) !important; background: #fff;  }
.project .title { margin: 0 0 0.4em; text-align: right; overflow: visible; }
.project .title a { float: left; }
.project .description { clear: both; }
.project .title .language { font-size: 0.8em; }
.project .meta .website { float: right; }


@media handheld, only screen and (max-width: 767px) {

	html {
		background-position: 50% 20px;
	}

	#header {
		min-height: 100px;
	}
		#header h1 {
			position: relative;
			top: auto;
			left: auto;
			margin: 0 auto;
		}

	#social ul {
		float: none;
		margin: 0 auto;
		text-align: center;
	}

	#footer {
		text-align: center;
	}
		#footer span {
			float: none;
			display: block;
		}
}
