html {
	background: #e9e6e3 url(../img/background.png) 20px 20px no-repeat;
	background-attachment: fixed;
	color: #14110d;
	height: 100%;
}

.row {
	margin: 0;
}

#header {
	min-height: 630px;
}
	#header h1 {
		position: fixed;
		top: 380px;
		left: 105px;
		width: 260px;
	}
		#header h1 a {
			display: block;
			height: 99px;
			background: transparent url(../img/shadowhand.png) 0 0 no-repeat;
			opacity: 0.9;
		}
		#header h1 a:hover {
			opacity: 1;
		}
		#header h1 span {
			display: none;
		}

#main {
	margin-top: 0;
}

	#social {
		overflow: auto;
	}
		#social ul {
			display: table !important;
			display: block;
			float: right;
			margin: 0;
		}
			#social li {
				display: table-cell !important;
				float: none !important;
				display: block;
				float: right;
				padding: 0 0.4em;
				margin-right: 1em;
			}
			#social li:last-child {
				margin-right: 0;
			}
				#social a {
					opacity: 0.8;
				}
				#social a:hover {
					opacity: 1;
				}

	#content {
		margin-top: 1em;
		margin-bottom: 1em;
		padding: 1em;
		background: #edebe9;
		box-shadow: 0 0 0.6em #cac8c5;
	}
		#content h1,
		#content h2,
		#content h3,
		#content h4,
		#content h5,
		#content h6 {
			font-family: 'Cabin';
			font-weight: normal;
			text-transform: lowercase;
			font-variant: small-caps;
		}

	#footer {
		color: #88837b;
		text-align: right;
		font-size: 0.8em;
		margin-bottom: 2em;
	}
		#footer span {
			float: left;
		}

@media handheld, only screen and (max-width: 767px) {

	html {
		background-position: 50% 20px;
	}

	#header {
		min-height: 100px;
	}
		#header h1 {
			position: relative;
			top: auto;
			left: auto;
			margin: 0 auto;
		}

	#social ul {
		float: none;
		margin: 0 auto;
		text-align: center;
	}
		#social li {
			float: none;
			display: inline;
		}

	#footer {
		text-align: center;
	}
		#footer span {
			float: none;
			display: block;
		}
}
