[submodule "system"]
	path = system
	url = https://github.com/kohana/core.git
[submodule "modules/kostache"]
	path = modules/kostache
	url = https://github.com/zombor/KOstache.git
[submodule "modules/uuid"]
	path = modules/uuid
	url = https://github.com/shadowhand/uuid.git
[submodule "modules/database"]
	path = modules/database
	url = https://github.com/kohana/database.git
[submodule "media/less"]
	path = media/less
	url = https://github.com/shadowhand/lessblue.git
[submodule "media/tweet"]
	path = media/tweet
	url = https://github.com/shadowhand/tweet.git
[submodule "media/clockwinder"]
	path = media/clockwinder
	url = https://github.com/intridea/jquery.clockwinder.git
[submodule "modules/bonafide"]
	path = modules/bonafide
	url = https://github.com/shadowhand/bonafide.git
[submodule "modules/oauth"]
	path = modules/oauth
	url = https://github.com/kohana/oauth.git
[submodule "modules/apis"]
	path = modules/apis
	url = https://github.com/shadowhand/apis.git
[submodule "modules/email"]
	path = modules/email
	url = https://github.com/shadowhand/email.git
[submodule "modules/demo"]
	path = modules/demo
	url = https://github.com/shadowhand/demo.git
