[submodule "system"]
	path = system
	url = https://github.com/kohana/core.git
[submodule "modules/kostache"]
	path = modules/kostache
	url = https://github.com/zombor/KOstache.git
[submodule "modules/uuid"]
	path = modules/uuid
	url = https://github.com/shadowhand/uuid.git
[submodule "modules/database"]
	path = modules/database
	url = https://github.com/kohana/database.git
