RedirectMatch 301 /configuring-php-style-checks-with-composer https://blog.shadowhand.me$0/
RedirectMatch 301 /announcing-psr-15 https://blog.shadowhand.me$0/
RedirectMatch 301 /cqrs-search-queries https://blog.shadowhand.me$0/
RedirectMatch 301 /announcing-equip https://blog.shadowhand.me$0/
RedirectMatch 301 /dependency-inversion-and-psr-7-bodies https://blog.shadowhand.me$0/
RedirectMatch 301 /all-about-psr-7-middleware https://blog.shadowhand.me$0/
RedirectMatch 301 /using-auryn-to-write-factories https://blog.shadowhand.me$0/
RedirectMatch 301 /standard-code-formatting-with-editorconfig https://blog.shadowhand.me$0/
RedirectMatch 301 /better-commits-with-static-review https://blog.shadowhand.me$0/
RedirectMatch 301 /the-binary-classification-of-objects https://blog.shadowhand.me/
RedirectMatch 301 /immutable-data-structures-in-php https://blog.shadowhand.me$0/
RedirectMatch 301 /configuration-in-spark https://blog.shadowhand.me$0/
RedirectMatch 301 /dependency-injection-with-auryn https://blog.shadowhand.me$0/
RedirectMatch 301 /a-simple-rest-application-with-spark https://blog.shadowhand.me$0/
