<div id="home">
	<h2>Hello, world.</h2>
	<p>My name is Woody Gilk and I hand craft custom websites for a wide range of clients, from self-employed artists to international companies. With a passion for positive information transfer and effective use of technology, I create websites with a human touch. I have the ability and the experience to do many kinds of projects from photo galleries to shopping carts to content management to bill pay. If you just need help figuring out how to structure a development team, I also offer project management consulting and security auditing.</p>
	<p>My toolbox includes Photoshop, TextMate, Coda, Transmit, Apache, nginx, Node.js, Redis, Kohana, PHP, MySQL, jQuery, 1140, Linux, and many other open source technologies and programs.</p>

	<h2>As open as they come.</h2>
	<p>When I am not working, I contribute to open source in various ways, most often to the <a href="http://kohanaframework.org">Kohana PHP Framework</a>. Many of my <a href="{{link_projects}}">projects</a> also have <a href="{{link_demos}}">live demos</a> for your viewing pleasure.</p>

	<h2>Get in touch.</h2>
	<p>Please feel free to email me at {{&hello_at_shadowhand}} or call me <span class="phone">+1 218-461-0465</span>.</p>
</div>
</section>
