<section class="home">
	<h2>Hello, world.</h2>
	<p>Shadowhand designs, implements, and optimizes digital solutions to effectively communicate information from one person to another. From small business websites to large web services, from photo gallaries to shopping carts, we have the skills to create effective solutions that will help you create a great internet presence.</p>
	<p>We have been creating digital media for over eight years and have vast knowledge of building great web sites and applications. Our toolbox includes Apache, Nginx, jQuery, Kohana, CSS, HTML, Javascript, PHP, MySQL, and Linux.</p>
	<h3>Who hires us.</h3>
	<p>Our clients range from single owner/operator business all the way up to international companies.</p>
	<p>We've done work in North America, Europe, and Africa, building solutions for artists, bed and breakfasts, grocery stores, bill pay services, and open source projects. We like to work for people who are trying new things, working on a human scale, and have passion for quality.</p>
	<h3>Get in touch.</h3>
	<p>We want to hear about your project! Please send an email to {{&hello_at_shadowhand}} and describe your project goals. We'll get back to you as soon as we are able.</p>
	<p><em>We are not a design agency.</em> Although we do some graphic design, we specialize in programming and not design. We highly recommend that you retain the services of a professional designer to work with us.</p>
</section>
