<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if (gt IE 6)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
	<meta charset="{{charset}}">
	<base href="{{base}}">

	<title>i am shadowhand</title>
	<meta name="description" content="woody gilk, newood, shadowhand, programmer, geek, kohana framework, grand marais, minnesota, mn">
	<meta name="author" content="Woody Gilk">

	<link rel="shortcut icon" href="media/img/favicon.png">
	<!-- <link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->

	<link rel="stylesheet" href="media/less/css/typo.css">
	<link rel="stylesheet" href="media/tweet/css/jquery.tweet.css">
	<link rel="stylesheet" href="media/css/style.css?v=1.0">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Dancing+Script">

	<script src="media/js/modernizr-1.6.min.js"></script>
</head>
<body class="home">
	<header id="head">
		<h1>i am shadowhand</h1>
		<p class="intro">i build web stuff, buy organic food, and drink a lot of tea.</p>
		{{!
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
		}}
	</header>

	<div id="main">
		{{#projects}}
		<section class="project">
			<h3 class="title"><a href="{{url}}">{{name}}</a> {{#language}}<small class="language">{{language}}</small>{{/language}}</h3>
			<p class="description">{{description}}</p>
			<aside class="meta">
				{{#homepage}}
				<span class="website"><a href="{{homepage}}">website</a></span>
				{{/homepage}}
				<span class="forks">{{forks}} forks</span>
				<span class="watchers">{{watchers}} watchers</span>
				<span class="issues">{{open_issues}} issues</span>
			</aside>
		</section>
		{{/projects}}
	</div>

	<aside id="side">
		<p>like my stuff? maybe you could <a href="http://amzn.com/w/1474H3P2204L8">buy me a beer</a>?</p>

		<h6>twitter feed</h6>
		<div id="tweets" class="query">
			<p><a href="http://twitter.com/shadowhand">follow me on twitter</a></p>
		</div>

		<h6>github activity</h6>
		<div id="github" class="query">
			<p><a href="http://github.com/shadowhand">my github activity</a></p>
		</div>
	</aside>

	<footer>
		<p class="top bottom">
			<span>copyright &copy; 2011 shadowhand</span>
			<small>{{environment}} // {{php}}</small>
		</p>
		<a id="fork-me" href="http://github.com/shadowhand/shadowhand.me">fork me on github!</a>
	</footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="media/js/jquery.min.js"%3E%3C/script%3E'))</script>
<script src="media/tweet/js/jquery.tweet.js"></script>
<script src="media/clockwinder/src/jquery.clockwinder.js"></script>
<script src="media/js/general.js"></script>
{{#production}}
<script>
var _gaq = [['_setAccount', 'UA-21978772-1'], ['_trackPageview']];
(function(d, t) {
	var g = d.createElement(t),
		s = d.getElementsByTagName(t)[0];
	g.async = true;
	g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g, s);
})(document, 'script');
</script>
{{/production}}

</body>
</html>
