<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if (gt IE 6)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
	<meta charset="{{charset}}">
	<base href="{{base}}">

	<title>i am shadowhand</title>
	<meta name="description" content="woody gilk, newood, shadowhand, programmer, geek, kohana framework, grand marais, minnesota, mn">
	<meta name="author" content="Woody Gilk">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="media/img/favicon.png">
	<!-- <link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->

	<!-- 1140px Grid styles for IE -->
	<!--[if lte IE 9]><link rel="stylesheet" href="media/css/ie.css" media="screen"><![endif]-->
	<!-- The 1140px Grid - http://cssgrid.net/ -->
	<link rel="stylesheet" href="media/css/1140.css" media="screen">

	<!-- LeSS typography -->
	<link rel="stylesheet" href="media/less/css/typo.css" media="all">

	<!-- Site styles -->
	<link rel="stylesheet" href="media/css/style.css?v=2.0" media="all">
	<link rel="stylesheet" href="media/css/screen.css?v=2.0" media="screen">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cabin">

	<!-- Modernizr -->
	<script src="media/js/modernizr-1.6.min.js"></script>
</head>
<body>

<div class="container max">
	<div class="row max bg">
		<div class="sixcol max">
			<div id="header">
				<h1>
					<small>hello, my name is</small><br/>
					SHADOWHAND<br/>
					<span class="and">&amp;</span> <small>i like to build the internet</small>
				</h1>
				<span class="fail">&nbsp;</span>
			</div>
		</div>
		<div class="sixcol last">
			<div id="main">
				<div id="social">
					<ul class="social">
						{{#social}}
						<li class="social-name"><a href="{{link}}"><img src="media/img/icon/{{name}}-24x24.png" alt="{{title}}" title="{{title}}"></a></li>
						{{/social}}
					</ul>
				</div>
				<div id="content">
					{{>content}}
				</div>
				<div id="footer">
					<span>copyright &copy; 2011 shadowhand</span>
					status: {{environment}} // php: {{php}} // kohana: {{kohana}}
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <a id="fork-me" href="http://github.com/shadowhand/shadowhand.me">fork me on github!</a> -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="media/js/jquery.min.js"%3E%3C/script%3E'))</script>
<script>
$(function()
{
	var $header = $('div.bg');
	var start   = parseInt($header.css('background-position-y'));
	var offset  = 10;
	$(window).scroll(function()
	{
		var top  = $(this).scrollTop();
		var next = (top > start) ? (top + offset) : start;
		$header.stop(true, false).animate({'background-position-y': next}, 200);
	});
});
</script>
<!-- <script src="media/tweet/js/jquery.tweet.js"></script> -->
<!-- <script src="media/clockwinder/src/jquery.clockwinder.js"></script> -->
<!-- <script src="media/js/general.js"></script> -->
{{#production}}
<script>
var _gaq = [['_setAccount', 'UA-21978772-1'], ['_trackPageview']];
(function(d, t) {
	var g = d.createElement(t),
		s = d.getElementsByTagName(t)[0];
	g.async = true;
	g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g, s);
})(document, 'script');
</script>
{{/production}}

</body>
</html>
