<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if (gt IE 6)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
	<meta charset="{{charset}}">
	<base href="{{base}}">

	<title>i am shadowhand</title>
	<meta name="description" content="woody gilk, newood, shadowhand, programmer, geek, kohana framework, grand marais, minnesota, mn">
	<meta name="author" content="Woody Gilk">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="media/img/favicon.png">
	<!-- <link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->

	<!-- 1140px Grid styles for IE -->
	<!--[if lte IE 9]><link rel="stylesheet" href="media/css/ie.css" media="screen"><![endif]-->
	<!-- The 1140px Grid - http://cssgrid.net/ -->
	<link rel="stylesheet" href="media/css/1140.css" media="screen">

	<!-- LeSS typography -->
	<link rel="stylesheet" href="media/less/css/typo.css" media="all">

	<!-- Tipsy -->
	<link rel="stylesheet" href="media/css/jquery.tipsy.css" media="all">

	<!-- Site styles -->
	<link rel="stylesheet" href="media/css/style.css?v=2.0" media="all">
	<link rel="stylesheet" href="media/css/screen.css?v=2.0" media="screen">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin">

	<!-- Modernizr -->
	<script src="media/js/modernizr-1.6.min.js"></script>
</head>
<body>

<div class="container max">
	<div class="row max bg">
		<div class="sixcol max">
			<div id="header">
				<h1>
					<a href="{{base}}">
						<span>
							<small>hello, my name is</small><br/>
							SHADOWHAND<br/>
							<small class="and">&amp;</small> <small>i like to build the internet</small>
						</span>
					</a>
				</h1>
				<span class="fail">&nbsp;</span>
			</div>
		</div>
		<div class="sixcol last">
			<div id="main">
				<div id="social">
					<ul class="social">
						{{#social}}
						<li class="social-{{name}}">
							<a href="{{link}}" title="{{title}}"><img src="media/img/icon/{{name}}-24x24.png" alt="{{title}}"></a>
						</li>
						{{/social}}
					</ul>
				</div>
				<div id="content">
					{{>content}}
				</div>
				<div id="footer">
					<span>copyright &copy; 2011 shadowhand</span>
					status: {{environment}} v{{version}} // php: {{php}} // kohana: {{kohana}}<br/>
					hosted by <a href="http://www.webfaction.com/?affiliate=shadowhand">webfaction</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <a id="fork-me" href="https://github.com/shadowhand/shadowhand.me">fork me on github!</a> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="media/js/jquery.min.js"%3E%3C/script%3E'))</script>
<!-- <script src="media/clockwinder/src/jquery.clockwinder.js"></script> -->
<script src="media/js/jquery.tipsy.js"></script>
<script src="media/js/general.js"></script>

</body>
</html>
