{{#projects}}
<section class="project">
	<h3 class="title"><a href="{{url}}">{{name}}</a> {{#language}}<small class="language">{{language}}</small>{{/language}}</h3>
	<p class="description">{{description}}</p>
	<aside class="meta">
		<span class="website">
			{{#demo}}
			<a href="{{demo}}">demo</a>
			{{/demo}}
			{{#homepage}}
			<a href="{{homepage}}">website</a>
			{{/homepage}}
		</span>
		<span class="forks">{{forks}} forks</span>
		<span class="watchers">{{watchers}} watchers</span>
		<span class="issues">{{open_issues}} issues</span>
	</aside>
</section>
{{/projects}}
