<p><big>Website development available for small business and individuals on the North Shore of Minnesota.</big></p>
<p>Please email <a href="mailto:hello@shadowhand.me">hello@shadowhand.me</a> for additional information.</p>

<hr/>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-medium fa-lg main-list-item-icon"></span>
    <a href="https://medium.com/@shadowhand">Medium</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/woodygilk">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/shadowhand">Twitter</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/shadowhand">Github</a>
  </li>
</ul>
